<!--<div class="card mr-3" style="width: 13rem;">-->
<!--  <img class="img-fluid" src="https://cover.openbd.jp/9784480421883.jpg">-->
<!--  <div class="card-body">-->
<!--    <a href="#" class="btn-sm btn-block btn-success">Go somewhere</a>-->
<!--  </div>-->
<!--</div>-->
<div class="card mr-3" style="width: 10rem;">
  <img class="img-fluid" src="{{ book.cover }}">
</div>