        <div class="media row">
          <img src="https://cover.openbd.jp/9784480421883.jpg" class="align-self-center mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0">舞姫</h5>
            <p class="mb-0">森鴎外著 新潮社</p>
            <a href="#" class="btn btn-outline-success">Go somewhere</a>
          </div>
        </div>