<div class="col rounded">
    <div class="border">
      <a class="twitter-timeline rounded" data-lang="en" data-width="260" data-height="600" data-link-color="#19CF86" href="https://twitter.com/shoeitter_beta?ref_src=twsrc%5Etfw">Tweets by shoeitter_beta</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>