{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block navbar %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
    <a class="navbar-brand" href="#">機械学習テストサイト</a>
  </nav>
</header>
{% endblock %}

{% block content %}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">

    <div class="container">
        {% include "snippets/flash.html" %}
        <p>2019.05.13 17:41</p>

        <h3>サンプル文章</h3>
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニヤーニヤー泣いてゐた事だけは記憶してゐる。吾輩はここで始めて人間といふものを見た。</p>
        <hr class="featurette-divider">

        <h3>プロトタイプ0</h3>
        <p>postした文章を適当な長さに切り出して、候補を5つ返す</p>

        <div class="caption text-left">
            <form action="/api/proto0" method="post">
                <div class="form-group">
                    <textarea class="form-control mr-sm-2" type="text" placeholder="文章を入力してください" name="text" rows="3"></textarea>
                </div>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">投稿</button>
            </form>
        </div>
        <hr class="featurette-divider">
    </div>
</main>

{% endblock %}